
    <div id="mob-nav" role="navigation">
      <img class="mob-icon" src="img/3bars_icon.svg" alt="mobile menu icon">
      <a href="index.html"> 
        <img class="mob-logo" src="img/dmptool_logo_mobile.svg" alt="mobile logo">
      </a>
      <ul>
        <li><a href="http://www.dmptool.org/privacy/">Privacy Policy</a></li>
        <li><a href="http://www.ucop.edu/electronic-accessibility/initiative/policy.html">Accessibility Policy</a></li>
        <li><a href="http://www.dmptool.org/terms_of_use/">Terms of Use</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
    
    <header class="row" role="banner">
      <div id="logo" class="large-3 three columns">
        <a href="index.html">
          <span>Home Page</span>
        </a>
      </div>
      <div class="large-6 six columns ad">
      </div>
      <div id="contact" class="large-3 three columns">
        <a class="right" href="contact.html">Contact Us</a>
      </div>
    </header>